# Ambiente virtual
venv/
.venv/
env/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Flask
instance/
.webassets-cache

# Variáveis de ambiente
.env
.env.*

# IDEs
.vscode/
.idea/
*.swp
*.swo

# macOS
.DS_Store

# Logs
*.log
